
.mySwiper > div:nth-child(2):after, .mySwiper > div:nth-child(3):after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(36,36,36,.5);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.mySwiper > div:nth-child(2):after{
  right:-30px;
}
.mySwiper > div:nth-child(3):after{
  left:-30px;
}

.mySwiper > div:nth-child(2):hover:after ,.mySwiper > div:nth-child(3):hover:after{
  background-color: rgba(36,36,36,1);
}

.blockServices .servicesContainer .servicesList:nth-child(2) a{
  display: none;
}

@media only screen and (max-width:1100px) {
  .mySwiper > div:nth-child(2), .mySwiper > div:nth-child(3) {
    top:35%;
  }
}

@media only screen and (max-width:600px) {
  .blockServices .imgFixheight{
    min-height:335px;
    padding:20px 20px;
  }
}

